body {
	font-family: 'Segoe UI', 'Helvetica', 'Open Sans', sans-serif;
	padding: 12px 10px 0 10px;
	background: #272822;
}

.ctn {
	margin: 0 auto;
}

.content {
}

.header {
	margin-bottom: 26px;
	padding-left: 2px;
}

.header h1 {
	margin: 0 0 8px 0;
	padding: 0;
	font-size: 20px;
	color: #CFE0FA;
}

.header p {
	margin: 4px 0 10px 0;
	font-size: 13px;
	color: #AAA;
}

.header p a {
	color: #999;
}

h2.sectionh {
	padding: 4px 0 12px 4px;
	margin: 0 0 8px 0;
	font-size: 16px;
	font-weight: normal;
	color: #29B6F6;
}

h2.sectionh::before {
	content: "# ";
	opacity: 0.5;
}

.check {
	display: block;
	z-index: 10;
	width: 220px;
	height: 36px;
	opacity: 0;
	margin-top: -30px;
}

h2 + .check {
	margin-top: 0;
}

.check + span {
	display: block;
	position: relative;
	top: -39px;
	left: 2px;
	z-index: -1;
	height: 36px;
	width: 220px;
	line-height: 36px;
	text-align: center;
	font-size: 14px;
	background: #232425;
	color: #CACBCC;
	border: 1px solid #343536;
	border-radius: 2px;
	transition: all ease 0.1s;
}

.check:hover + span {
	border-color: #78797A;
}

.check:checked + span {
	background: #151617;
	color: #FEFEFE;
	border-color: #777;
}

.radio + span::after {
	content: "";
	display: block;
	width: 1px;
	height: 47px;
	background: #0288D1;
	margin-left: 230px;
	margin-top: -43px;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.fixed .ctn {
	position: relative;
}

.code {
	position: absolute;
	right: 0;
	margin: 0 0 0 10px;
	width: 60vw;
	width: calc(100vw - 280px);
	height: 100vh;
	box-sizing: border-box;
	overflow-y: scroll;
	text-align: left;
	border-left: 1px solid #454647;
	padding: 30px 30px 20px 30px;
	background: #1A1B1C;
	color: #E0E0E0;
}

/* .fixed .ctn::before {
	content: "Code Preview";
	display: block;
	position: absolute;
	top: 26px;
	right: 0;
	width: 320px;
	padding-left: 16px;
	font-size: 17px;
	font-weight: bold;
	border-left: 4px solid #0288D1;;
	color: #0288D1;
} */

.code section {
	display: none;
	font-size: 12px;
	font-family: 'Source Code Pro', 'Monaco', 'Droid Sans Mono', 'Inconsolata', 'Consolas', 'Courier', monospace;
	line-height: 1.4em;
	padding: 0;
	margin: 0;
}

.code section.dis {
	display: block;
}

.code span {
	margin: 0 2px;
	font-size: 13px;
	color: #78797A;
	border-bottom: 1px solid #777;
	transition: all ease 0.1s;
}

.code span:focus {
	outline: none;
	color: #FAFBFC;
	border-color: #AAA;
}

@media (max-width: 600px) {

.content {
	margin: 0;
}

.fixed {
	position: static;
}

.code {
	width: 100%;
}

}